<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,52}</string>
                <key>spriteSourceSize</key>
                <string>{14,52}</string>
                <key>textureRect</key>
                <string>{{501,374},{14,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,99}</string>
                <key>spriteSourceSize</key>
                <string>{100,99}</string>
                <key>textureRect</key>
                <string>{{1158,131},{100,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,134}</string>
                <key>spriteSourceSize</key>
                <string>{144,134}</string>
                <key>textureRect</key>
                <string>{{743,131},{144,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,130}</string>
                <key>spriteSourceSize</key>
                <string>{154,130}</string>
                <key>textureRect</key>
                <string>{{611,131},{154,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,185}</string>
                <key>spriteSourceSize</key>
                <string>{206,185}</string>
                <key>textureRect</key>
                <string>{{879,81},{206,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{436,374},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clockLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{79,80}</string>
                <key>textureRect</key>
                <string>{{611,1},{79,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{553,44}</string>
                <key>spriteSourceSize</key>
                <string>{553,44}</string>
                <key>textureRect</key>
                <string>{{1,444},{553,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameov.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,64}</string>
                <key>spriteSourceSize</key>
                <string>{371,64}</string>
                <key>textureRect</key>
                <string>{{436,1},{371,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>go.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,89}</string>
                <key>spriteSourceSize</key>
                <string>{193,89}</string>
                <key>textureRect</key>
                <string>{{1066,81},{193,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guangxiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,433}</string>
                <key>spriteSourceSize</key>
                <string>{441,433}</string>
                <key>textureRect</key>
                <string>{{1,1},{441,433}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hitby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,78}</string>
                <key>spriteSourceSize</key>
                <string>{237,78}</string>
                <key>textureRect</key>
                <string>{{1158,232},{237,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jizhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,78}</string>
                <key>spriteSourceSize</key>
                <string>{265,78}</string>
                <key>textureRect</key>
                <string>{{879,1},{265,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,107}</string>
                <key>spriteSourceSize</key>
                <string>{287,107}</string>
                <key>textureRect</key>
                <string>{{502,1},{287,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,102}</string>
                <key>spriteSourceSize</key>
                <string>{128,102}</string>
                <key>textureRect</key>
                <string>{{1158,1},{128,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shijiandao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{556,290},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,71}</string>
                <key>spriteSourceSize</key>
                <string>{70,71}</string>
                <key>textureRect</key>
                <string>{{692,1},{70,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Texture1.png</string>
            <key>size</key>
            <string>{1261,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fbf1f4218a5ce3323f840502433d626:456e17a194bb0ae79f82ada28ba2f532:5f929f11587b1cb6558f8f0d901c25df$</string>
            <key>textureFileName</key>
            <string>Texture1.png</string>
        </dict>
    </dict>
</plist>
