<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beijing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daodanqiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{1022,931},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dunpaiqiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{1102,931},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dunpaizhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,147}</string>
                <key>spriteSourceSize</key>
                <string>{132,147}</string>
                <key>textureRect</key>
                <string>{{723,863},{132,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huangji1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,105}</string>
                <key>spriteSourceSize</key>
                <string>{122,105}</string>
                <key>textureRect</key>
                <string>{{1222,723},{122,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huiheban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,138}</string>
                <key>spriteSourceSize</key>
                <string>{310,138}</string>
                <key>textureRect</key>
                <string>{{723,723},{310,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huiheshuzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{247,51}</string>
                <key>spriteSourceSize</key>
                <string>{265,51}</string>
                <key>textureRect</key>
                <string>{{1,943},{247,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,89}</string>
                <key>spriteSourceSize</key>
                <string>{96,89}</string>
                <key>textureRect</key>
                <string>{{1346,723},{96,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jidishangyingzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,30}</string>
                <key>spriteSourceSize</key>
                <string>{111,30}</string>
                <key>textureRect</key>
                <string>{{379,967},{111,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaoji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,108}</string>
                <key>spriteSourceSize</key>
                <string>{148,108}</string>
                <key>textureRect</key>
                <string>{{872,863},{148,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanfangzidan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,32}</string>
                <key>spriteSourceSize</key>
                <string>{78,32}</string>
                <key>textureRect</key>
                <string>{{492,967},{78,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanji1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,105}</string>
                <key>spriteSourceSize</key>
                <string>{122,105}</string>
                <key>textureRect</key>
                <string>{{1222,830},{122,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>penqishangsheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,52}</string>
                <key>spriteSourceSize</key>
                <string>{127,52}</string>
                <key>textureRect</key>
                <string>{{250,943},{127,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shangmianban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,162}</string>
                <key>textureRect</key>
                <string>{{1283,1},{720,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shengziyijie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,10}</string>
                <key>spriteSourceSize</key>
                <string>{13,10}</string>
                <key>textureRect</key>
                <string>{{1,996},{13,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shenlanji1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,105}</string>
                <key>spriteSourceSize</key>
                <string>{122,105}</string>
                <key>textureRect</key>
                <string>{{1329,830},{122,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuangrenmianban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,162}</string>
                <key>spriteSourceSize</key>
                <string>{720,162}</string>
                <key>textureRect</key>
                <string>{{1,723},{720,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuiyin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,22}</string>
                <key>spriteSourceSize</key>
                <string>{263,22}</string>
                <key>textureRect</key>
                <string>{{379,943},{263,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,185}</string>
                <key>spriteSourceSize</key>
                <string>{206,185}</string>
                <key>textureRect</key>
                <string>{{1035,723},{206,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tianhuaban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{720,54}</string>
                <key>spriteSourceSize</key>
                <string>{720,86}</string>
                <key>textureRect</key>
                <string>{{1,887},{720,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,28}</string>
                <key>textureRect</key>
                <string>{{652,943},{32,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zidan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,32}</string>
                <key>spriteSourceSize</key>
                <string>{78,32}</string>
                <key>textureRect</key>
                <string>{{572,967},{78,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Texture2.png</string>
            <key>size</key>
            <string>{1446,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62238cf2bd280e5420fb6f2d810fc131:f3fa9a10127551ecc1068b4aa489ffec:53256103ff3bc51e6cd9ed05c9a6ffda$</string>
            <key>textureFileName</key>
            <string>Texture2.png</string>
        </dict>
    </dict>
</plist>
